*:not(div){
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 5px;
}

select, button{
    width: 200px;
}

#deputados{
    width: 100%;
}

.deputado{
    float: left;
    width: 30%;
    border: solid 1px #000;
    text-align: center;
    margin:10px;
}

.deputado img{
    width: 150px;
}

.deputado .leg{
    font-weight: bold;
    margin: 0px;
}

.deputado .dado{
    margin: 0px 0px 5px 0px;
}